
$color_black: rgb(0, 0, 0);

$color_white: rgb(255, 255, 255);
$color_white-blue: rgb(245, 245, 250);
$color_white-dark: rgb(224, 224, 224);

$color_gray-dark: #A9A9A9;
$color_gray-light: rgb(173, 173, 173);
$color_gray_medium: #585858;

//blue light linear
$color_blue: #8EC5FC;
$color_linear_blue: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


//font-size
$default_font-size: 1.6rem;

//photos for gallery
$img-01: "https://unsplash.imgix.net/photo-1414924347000-9823c338079b?fit=crop&fm=jpg&h=700&q=75&w=1050";
$img-02: "https://unsplash.imgix.net/30/skater.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050";
$img-03: "https://unsplash.imgix.net/photo-1415226581130-91cb7f52f078?fit=crop&fm=jpg&h=700&q=75&w=1050";
$img-04: "https://ununsplash.imgix.net/40/lUUnN7VGSoWZ3noefeH7_Baker%20Beach-12.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050";