//section-about-imageCol images
//Εφέ με εικόνες στο about
.about-image {
    position: absolute;
    width: 30rem;
    
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba($color_black, 0.4);
    transition: all .2s;
    z-index: 10;
    //height: 30vh;
    
    &-1{
        left: -6vw;
        top: 0vh;
    }

    &-2 {
        left: 5vw;
        top: 7vh;
    }

    &-3 {
        left: -1vw;
        top: 20vh;
    }

    &:hover {
        border: 1.2rem solid transparent;
        outline: 1.2rem solid $color_gray-light;
        transform: scale(1.05);
        box-shadow: 0 2.5rem 4rem rgba($color_black, 0.5s);
        z-index: 20;
    }

}

.section-about-imagesCol {
    position: relative;
    width: 50%;
    margin-left: 10%;

    &:hover .about-image:not(:hover) {
        transform: scale(.85);
    }
}